@charset "UTF-8";

/* CSS Document */



/*---Top------------------------*/

.main-visual {
    position: absolute;
    top: 50%;
    transform: translate(100%, -50%)
}


.container {
    position: relative;
}

.container>canvas {
    width: 100% !important;
}

.main-visual_title {
    color: #fff;
    font-size: 3.6rem;
    font-family: "Quiche Flare", serif;
    font-weight: 100;
    padding-bottom: 25px;
}

.main-visual_name {
    color: #fff;
    font-size: 2.2rem;
    font-family: "Quiche Flare", serif;
    font-weight: 100;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 261px;
    text-align: left;
}

.section-about {
    padding: 120px 80px;
}

.section-about h2 {
    margin-bottom: 64px;
    font-weight: 400;
}

.section-about_flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section-about_flex img {
    max-width: 100%;
    height: auto;
}

.section-about_flex-box {
    max-width: 458px;
    margin-top: 14px;
}

.section-about_flex-box h3 {
    font-weight: 300;
}

.section-about_flex-box-name {
    font-family: "Quiche Flare", serif;
    font-weight: 400;
    margin-bottom: 30px;
}

.readmore-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 78px;
    position: relative;
    border: none;
    background-color: transparent;
    color: #333;
}

.readmore-btn a {
    margin-right: 7px;
}



.btnlinestretches4 {
    /*線の基点とするためrelativeを指定*/
    position: relative;
    /*リンクの形状*/
    color: #333;
    padding: 10px 30px 10px 30px;

    display: inline-block;
    text-decoration: none;
    outline: none;
}

/*線の設定*/
.btnlinestretches4::before,
.btnlinestretches4::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    /*線の形状*/
    background: #333;
    width: 100%;
    height: 2px;
    /*アニメーションの指定*/
    transition: all 0.3s ease-in-out;
}

/*hover時に伸びる線の形状*/
.btnlinestretches4::after {
    width: 0;
    background: #ccc;
}

/*hover時に100%に伸びる*/
.btnlinestretches4:hover::after {
    width: 100%;
}


.wrapper {
    overflow: hidden;
    position: relative;
    background-color: #515050;
    margin-inline: auto;
}

.wrapper {
    padding: 74px 0;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider img {
    width: 100%;
    /*スライダー内の画像を横幅100%に*/
    height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin: 0 44px;
    /*スライド左右の余白調整*/
}

/*==================================================
ふわっ
===================================*/


/* fadeUp */

/* その場で */
.fadeIn {
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* スクロールをしたら出現する要素にはじめに透過0を指定　*/

.fadeUpTrigger {
    opacity: 0;
}


/*works*/
.section-works {
    padding: 120px 80px;
}

.section-works h2 {
    margin-bottom: 100px;
    font-weight: 400;
}

.section-works_flex {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 88px;
    flex-wrap: wrap;
}

.section-works_flex img {
    max-width: 524px;
    height: auto;

}

.section-works_flex-box {
    max-width: 520px;
}

.section-works_flex-box h3 {
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 14px;
    margin-top: 32px;
}

.section-works_flex-box_description {
    font-size: 2.0rem;
    line-height: 1.4;
    margin-bottom: 32px;
}

.readmore-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 78px;
    position: relative;
    border: none;
    background-color: transparent;
    color: #333;
}

/* iPad */
@media screen and (max-width: 1251px) {
    .readmore-btn {
        margin-top: 32px;
    }
}

.readmore-btn a {
    margin-right: 7px;
}

.section-works_flex-last {
    margin-bottom: 0px;
}

.section-contact {
    padding: 120px 80px;
    background-color: #515050;
    color: #FFF;
    display: flex;
    justify-content: space-between;
}

.section-contact h2 {
    margin-bottom: 100px;
    font-weight: 400;
}

.btnlinestretches5 {
    /*線の基点とするためrelativeを指定*/
    position: relative;
    /*リンクの形状*/
    color: #fff;
    padding: 10px 30px 10px 30px;

    display: inline-block;
    text-decoration: none;
    outline: none;
}

/*線の設定*/
.btnlinestretches5::before,
.btnlinestretches5::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    /*線の形状*/
    background: #fff;
    width: 100%;
    height: 2px;
    /*アニメーションの指定*/
    transition: all 0.3s ease-in-out;
}

/*hover時に伸びる線の形状*/
.btnlinestretches5::after {
    width: 0;
    background: #2D2D2D;
}

/*hover時に100%に伸びる*/
.btnlinestretches5:hover::after {
    width: 100%;
}

.contact-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 78px;
    position: relative;
    border: none;
    background-color: transparent;
}

/*--------about---------------------------------*/

/*スクロールリンクの形状*/
.scroll-top {
    /*表示位置*/
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 2;
    /*はじめは非表示*/
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    /*それぞれに0.5秒の変化のアニメーション*/
    /*縦書き*/
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    /*改行禁止*/
    white-space: nowrap;
    /*矢印の動き*/
    animation: arrowmove 1s ease-in-out infinite;
}

@keyframes arrowmove {
    0% {
        bottom: 20px;
    }

    50% {
        bottom: 25px;
    }

    100% {
        bottom: 20px;
    }
}


/*.scroll-viewクラスがついたら出現*/
.scroll-top.scroll-view {
    opacity: 1;
    visibility: visible;
}

/*リンク全体の aタグの形状*/
.scroll-top a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-size: 0.9rem;
    display: block;
}

/*スクロールリンクの形状*/

.js-scroll a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 50px;
    background: #666;
}

.js-scroll a::before {
    content: "";
    position: absolute;
    top: 30px;
    right: -6px;
    width: 1px;
    height: 20px;
    background: #666;
    transform: skewX(-31deg);
}

/*Edge IE11 hack*/
_:-ms-lang(x),
.js-scroll a::before {
    right: -11px;
}

/*ページトップリンクの形状*/

.js-pagetop a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 50px;
    background: #666;
}

.js-pagetop a::before {
    content: "";
    position: absolute;
    top: 0;
    right: -6px;
    width: 1px;
    height: 20px;
    background: #666;
    transform: skewX(31deg);
}

/*Edge IE11 hack*/
_:-ms-lang(x),
.js-pagetop a::before {
    right: 0;
}

/*検証のためのCSS*/
section {
    padding: 500px 0;
}


.floatingContainer {
    padding: 120px 80px;
    background-color: #515050;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../image/pc-images/profile-MIKAKO\ AOYAMA.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media screen and (max-width: 1300px) {
    .floatingContainer {
        background-image: url(../image/pc-images/ipad_profile-MIKAKO\ AOYAMA.png);
    }
}

.floatingCard {
    max-width: 400px;
    transform: rotateX(0deg) rotateY(-5deg) rotateZ(10deg);
    transform-origin: 80% 50% 0px;
    position: relative;
    border: 1px solid #2D2D2D;
    border-radius: 8px;
}

.floatingObject {
    position: relative;
    perspective: 600px;
}

.floatingObject:after {
    content: "";
    position: absolute;
    width: 120%;
    height: 50px;
    top: 100%;
    left: -10%;
    background: radial-gradient(ellipse at center,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0) 70%);
    z-index: -1;
}

/*profile*/
.profile__container {
    padding: 120px 80px;
    display: block;
    text-align: center;
    max-width: 1044px;
    margin: 0 auto;
}

.profile__container h3 {
    font-size: 2.4rem;
    font-weight: 300;
}

.section-profile_name {
    margin-bottom: 24px;
    font-family: "Quiche Flare", serif;
    font-weight: 400;
}

.profile__container-description {
    line-height: 2.0;
    font-size: 2.0rem;
}

/*経歴*/
.timeline-wrapper {
    padding: 120px 80px;
    background-color: #000;
    color: #fff;
}

.timeline-wrapper_title {
    text-align: center;
    padding-bottom: 64px;
    font-size: 3.2rem;
    background-image: url(../image/pc-images/experience.png);
    background-repeat: no-repeat;
    background-position: center;
}

.timeline {
    list-style: none;
    display: block;
    text-align: center;
    max-width: 717px;
    margin: 0 auto;
}

.timeline>li {
    margin-bottom: 60px;
}

/* for Desktop */
@media (min-width : 640px) {
    .timeline>li {
        overflow: hidden;
        margin: 0;
        position: relative;
    }

    .timeline-date {
        width: 110px;
        float: left;
        margin-top: 20px;
    }

    .timeline-content {
        width: 75%;
        float: left;
        border-left: 3px #e5e5d1 solid;
        padding-left: 56px;
        text-align: left;
        font-size: 18px;
    }

    .timeline-content h4 {
        font-weight: 500;
        font-size: 14px;
    }

    .timeline-content:before {
        content: '';
        width: 12px;
        height: 12px;
        background: #AFABA6;
        position: absolute;
        left: 106px;
        top: 24px;
        border-radius: 100%;
    }
}

/* けいれきここまで */


.conscious {
    padding-top: 120px;
}

.conscious-title {
    padding-bottom: 64px;
    font-size: 3.2rem;
    display: block;
    text-align: center;
    background-image: url(../image/pc-images/consciousness.png);
    background-repeat: no-repeat;
    background-position: center;
}

.conscious-skill {
    padding: 48px 25px;
    background-color: #E0DCD8;
}

.conscious-skill_first {
    margin-bottom: 56px;
}

.conscious-skill p {
    max-width: 1116px;
    margin: 0 auto;
}

.conscious-skill_description3 a {
    color: #333;
}

.conscious-skill_description3 {
    font-size: 14px;
    line-height: 1.3;
}

.conscious-skill_title {
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 24px;
}

.conscious-skill_description {
    font-size: 2.0rem;
    padding-bottom: 16px;
}

.conscious-skill_description2 {
    padding-bottom: 16px;
}

/* 口コミ */
.review {
    padding: 120px 80px;
}



.review-title {
    padding-bottom: 64px;
    font-size: 3.2rem;
    text-align: center;
    background-image: url(../image/pc-images/Voice.png);
    background-repeat: no-repeat;
    background-position: center;
}

.review-client {
    padding: 32px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid #888;
    margin-bottom: 56px;
}

.review-client_last {
    margin-bottom: 0;
}

.review-client_leftbox {
    display: flex;
    flex-wrap: wrap;
}

.review-client_leftbox img {
    margin-right: 40px;
    margin-left: 16px;
    max-width: 299px;
}

.review-client_rightbox {
    max-width: 468px;
    margin-top: 32px;
    margin-right: 16px;
    margin-left: 16px;
}

.client_leftbox_title {
    font-size: 2.2rem;
    margin-bottom: 32px;
}

.client_leftbox_description a {
    color: #333;
    text-decoration: underline;
}

.client_leftbox {
    max-width: 300px;
}

.client_leftbox-btn img {
    margin-right: 0px;
}

.client_leftbox-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 78px;
    position: relative;
    border: none;
    background-color: transparent;
    color: #333;
}

/* -----work----------------------------------------------- */

/* 下から */

/* 下から */

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-work {
    padding: 120px 80px;
}

.section-work_top {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1040px;
    margin: 0 auto 64px auto;
}

.section-work_top img {
    max-width: 486px;
    height: auto;
}

.section-work_top-description {
    max-width: 720px;
}

.top-description_title {
    font-size: 2.0rem;
}

.top-description_url {
    margin-bottom: 24px;
}

.top-description_url a {
    color: #333;
    font-size: 1.4rem;
}

.section-work_top-description dd {
    margin-bottom: 24px;
}

.section-work_top-contents {
    max-width: 1040px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 923px) {
    .section-work_top-description {
        margin-top: 32px;
    }

    .top-description_url {
        margin-bottom: 16px;
    }

    .section-work_top-description dd {
        margin-bottom: 16px;
    }

}

.work__sub-image {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: rgba(255, 207, 244, 0.5);
    overflow: hidden;
}

.work__sub-image img {
    width: 446px;
}

.work_process {
    margin-inline: auto;
    padding: 120px 25px;
    max-width: 1038px;
}

.work_process-title,
.work_process-detail_section {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.work_process-description {
    margin-bottom: 48px;
    font-size: 16px;
}

.work_process-detail1 {
    display: flex;
    justify-content: space-between;
}

.work_process-detail1-1 {
    margin-bottom: 16px;
}

.work_process-detail1_title {
    width: 130px;
    font-size: 1.8rem;
}

.work_process-detail1_description {
    width: 80%;
    max-width: 832px;
}

.work_process-detail1-2 {
    margin-bottom: 48px;
}

/* 企画書ボタン */
a.btn_12 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 200px;
    margin: auto;
    padding: 1.5rem 3rem 1.5rem 3rem;
    font-size: 2.0rem;
    background: #CDBFB1;
    color: #333;
    border-radius: 100vh;
    position: relative;
    transition: 0.5s;
}

a.btn_12:hover {
    background: #515050;
    color: #fff;
}

/* 情報設計 */
.work_information-design {
    padding-top: 100px;
}

.work_information-design_title {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    /* 垂直中心 */
    justify-content: center;
    /* 水平中心 */

}

.work_information-design_title:before,
.work_information-design_title:after {
    border-top: 1px solid;
    border-color: #CDBFB1;
    content: "";
    width: 166px
        /* 線の長さ */
}

.work_information-design_title:before {
    margin-right: 1em;
    /* 文字の右隣 */
}

.work_information-design_title:after {
    margin-left: 1em;
    /* 文字の左隣 */
}

.work_information-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.work_information-description {
    font-size: 16px;
}

.work_information-description img {
    width: 70%;
}

.work_information-description1 {
    margin-bottom: 48px;
}

.work_information-description a {
    color: #333;
}

.work__sub-image_second {
    background-color: rgba(255, 207, 244, 0.5);
    text-align: center;
}

.work__sub-image_second img {
    width: 70%;
}

.look-back {
    margin-inline: auto;
    padding: 120px 20px;
    max-width: 1038px;
}

/* その他 */
.others {
    padding: 120px 80px;
    background-color: #515050;
}

.others_inner {
    margin-inline: auto;
    padding-inline: 40px;
    max-width: 1240px;
}

.others_inner-title {
    font-family: "Quiche Flare", serif;
    font-size: 2.4rem;
    margin-bottom: 48px;
    color: #FFF;
}

.others-works_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 63px 30px;
    align-items: baseline;
}

.works-list__link {
    display: flex;
    flex-direction: column;
    color: var(--black);
    text-decoration: none;
}

.others-works_list-category {
    color: #E2DCDC;
    font-size: 1.4rem;
}

.others-works_list-item {
    list-style: none
}

.works-list_title {
    color: #E2DCDC;
    font-size: 1.6rem;
}